<div class="tab">
    <button class="tablinks" onclick="login()">Login</button>    
    <button class="tablinks" onclick="register()">Register</button>
</div>
    <div class = "login" style="display: none;">
        <label>Username:</label>
        <input type="text" username="name"/><br/>
        <label>Password:</label>
        <input type="text" password="password"/><br/>
        <button type="button" (click)="login()">Login</button>
    </div>
    <div class = "register" style="display: none;">
        <label>Username:</label>
        <input type="text" username="name"/><br/>
        <label>Password:</label>
        <input type="text" password="password"/><br/>
        <label>Repeat password:</label>
        <input type="text" password="password"/><br/>
        <label>e-mail:</label>
        <input type="text" email="email"/><br/>
    
</div>
  
  <!-- Tab content -->
  <div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>