<div class="container">

  <div class="box" id="newMessageBox">
    <label for="from">From: </label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="to">To: </label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject: </label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <label for="message">Message: </label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </div>
  
  <div  class="box" id="chronology">

    <label for="from">Chronology: </label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
  </div>



</div>