<div class="container">

  <div class="box" id="newMessageBox">
    <div class="heading">Send new message: </div>
    <label for="from">From: </label>
    <input type="text" id="fname" name="firstname" placeholder={{email}}>

    <label for="to">To: </label>
    <div class="popup">
      <span class="popuptext" id="myPopupName">Enter correct username</span>
      <input type="text" required [(ngModel)]='recipientName' placeholder="Enter recipient's username">
    </div>

    <label for="subject">Subject: </label>
    <div class="popup">
      <span class="popuptext" id="myPopupDescription">Enter description</span>
      <input id="subject" type="text" [(ngModel)]='description' placeholder="Enter subject">      
    </div>
   
    <label for="message">Message: </label>
    <textarea id="message" type="text" [(ngModel)]='message' placeholder="Write your message here" style="height:180px"></textarea>

    <input type="submit" value="Submit" (click)="sendEmail()">
  </div>

  <div class="box" id="chronology">

    <div class="heading">Chronology:</div>
    <div class="containerMessagesOnly" *ngFor="let item of emails">
      <div class="containerMessage">
        <label for="from">From: {{ item.from }}</label>
        <label for="subject">Subject: </label>
        <div class="containerDescription"> {{ item.description }} </div>
        <label for="message">Message: </label>
        <div class="containerSingleMessage"> {{ item.message }} </div>
      </div>
    </div>
  </div>



</div>