<div class="tab">
    <button class="tablinks" (click)="loginTab()">Login</button>    
    <button class="tablinks" (click)="registerTab()">Register</button>
</div>
<div class="menu">
  <div class = "login" style="visibility: hidden">
      <label>Username:</label>
      <input type="text" required [(ngModel)]='username'/>
      <label>Password:</label>
      <input type="text" required [(ngModel)]='password'/><br/>
      <button type="button" id="fancyButton" (click)="login()">Login</button>
      
    <button type="button" id="fancyButton" (click)="testRouting()">TestRouting</button>

  </div>
  <div class = "register" style="visibility: hidden">
      <label>Username:</label>
      <input type="text" required [(ngModel)]='username'/>
      <label>Password:</label>
      <input type="text" required [(ngModel)]='password'/>
      <label>Repeat password:</label>
      <input type="text" required/>
      <label>e-mail:</label>
      <input type="text" required [(ngModel)]='email'/><br/>
      <button type="button" id="fancyButton"(click)="register()">Register</button>
  </div>
</div>